VITE_SUPABASE_URL=https://icxuhgumcfxhwcfmwosm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljeHVoZ3VtY2Z4aHdjZm13b3NtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2NTIwNDksImV4cCI6MjEwNDIyODA0OX0.bcxl2EFahwDwkmXclGI4e7Kq9vm-FIDpTpvDe7jFAlk
VITE_APP_URL=http://localhost:5173

# Opcional: números usados para generar los QR de billeteras
VITE_YAPE_NUMBER=
VITE_PLIN_NUMBER=
